<!doctype html>
<html ng-app>
<head>
	<title>List of customers</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<script src="obj.js" type="text/javascript">
	</script>
</head>
<body>
	<div ng-controller="ObjCtrl">
		<table>
			<thead>
				<tr>
					<th><input type="checkbox" ng-model="chechAll" ng-change="check()"></th>
					<th>Name</th>
					<th>Budget</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="obj in objs">
					<td><input type="checkbox" ng-model="obj.del"></td>
					<td>{{ obj.title }}</td>
					<td>{{ obj.budget }}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td><button ng-click="delete_selected()">Delete</button></td>
					<td>Sum:</td>
					<td>{{ sum() }}</td>
				</tr>
			</tfoot>
		</table>
	</div>
</body>

</html>